<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<title>
  Seed packages for underprivileged Filipino tech talent - devseed.ph
</title>
<meta
  name="description"
  content="We are a social enterprise that provides free laptops, mentorship and a community for underprivileged but passionate Filipinos who want to code or build."
/>
<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{{ '/favicon.ico' | relative_url }}"
/>
<meta
  property="og:title"
  content="Seed packages for underprivileged Filipino tech talent - devseed.ph"
/>
<meta
  property="og:description"
  content="We provide free laptops, mentorship and a community for underprivileged but passionate Filipinos who want to code or build."
/>
<!-- ˜300 chars -->
<meta property="og:site_name" content="devseed.ph" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://devseed.ph" />
<meta
  property="og:image"
  content="https://devseed.ph/assets/images/og_logo.png"
/>
<!-- 200x200px - 1200x1200px -->
<!-- end custom head snippets -->
