<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<title>
  Seed packages for underprivileged Filipino tech talent - devseed.ph
</title>
<meta
  name="description"
  content="We are a social enterprise that provides free laptops, mentorship and a community for underprivileged but passionate Filipinos who want to code or build."
/>
<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{{ '/favicon.ico' | relative_url }}"
/>

<!-- end custom head snippets -->
